* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f7fb;
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  border-radius: 10px !important;
}

.card {
  border: none;
  border-radius: 15px;
}

.btn {
  border-radius: 10px;
}